#root{
    width:100%;
    height:100%;
    display:flex;
    justify-content: space-around;
}

.App{
    width: 50rem;
    max-width: 100vw;
    max-height: 100vh;
}

.section{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.section-title{
    background-color: #95b3d8;
    width: 100%;
    min-width: 200px;
    font-weight: bold;
    font-size: 1.25rem;
    padding: .25rem 0rem .25rem 0rem;
}

.section-content{
    width: 100%;
    padding: .5rem 0rem .5rem 0rem;
}

.plain-date-holder{
    display: flex;
    justify-content: space-between;
    /* margin: .5rem 1rem .5rem 1rem; */
    margin: .25rem 1rem .25rem 1rem;
    /* color: pink; */
}

.plain-date-holder > .title{
    font-weight:bold;
}

.plain-date-holder > .date{
    font-style: italic;
}

.bullet_container{
    text-align: left;
    margin: 0rem 3rem 0rem 3rem;
}

.bullet_container > li{
    /* margin: .25rem 0rem 0rem 0rem; */
    margin: 0rem 0rem 0rem 0rem;
    /* color:pink; */
}

.achievement-date-holder{
    margin: .25rem .5rem .25rem .5rem;
}

.achievement-date-holder > .title{
    text-align: left;
}

.label-content{
    margin: 0rem 1rem 0rem 1rem;
    margin: 0rem 1.5rem 0rem 1.5rem;
    /* margin: 0rem 2rem 0rem 2rem; */
    /* margin: 0rem 3rem 0rem 3rem; */
    display: grid;
    grid-template-columns: max-content auto;
    grid-column-gap: 1rem;
    grid-row-gap: .25rem;
    justify-items: start;
}

.label-content > .label{
    font-weight: bold;
}

.label-content > .content{
    text-align: left;
}

.label-content > .content > li {
    text-align: left;
    margin-left: 1rem;
    /* color: pink; */
}
