.section{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.section-title{
    background-color: #95b3d8;
    width: 90vw;
}

.section-content{
    max-width: 90vw;
    width: 90vw;
}

.plain-date-holder{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 1rem 1rem 0rem 1rem;
}

.plain-date-holder > .title{
    font-weight:bold;
}

.plain-date-holder > .date{
    font-style: italic;
}